* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: rgb(66, 65, 65);
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 28px 100px;
}

h2 {
    user-select: none;
    font-size: 26px;
    font-weight: 700;
    color: aliceblue;
}

ul {
    display: flex;
    list-style: none;
}

li {
    margin: 0 20px;
    padding: 0 16px;
}

a {
    text-decoration: none;
    font-size: 20px;
    color: aliceblue;
    font-weight: 600;
}

a:hover {
    text-decoration: underline;
}

nav button {
    font-size: 16px;
    outline: none;
    padding: 6px 16px;
    border-radius: 4px;
    cursor: pointer;
    letter-spacing: .5px;
    font-weight: 600;
    color: darkblue;
    border: 4px solid darkblue;
    background-color: aliceblue;
}

.content {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 60px;
}

.main-content {
    max-width: 1200px;
    text-align: center;
    color: aliceblue;
}

.main-content h1 {
    font-size: 3rem;
}

.main-content p {
    margin-top: 20px;
    font-size: 18px;
    max-width: 700px;
}

.main-content button {
    margin-top: 24px;
    outline: none;
    font-size: 20px;
    padding: 12px 24px;
    cursor: pointer;
    border-radius: 6px;
    letter-spacing: .5px;
    font-weight: 600;
    background: darkblue;
    color: aliceblue;
    border: 2px solid aliceblue;
}

.pic-content {
    position: relative;
    width: 450px;
    height: 450px;
}

img {
    position: absolute;
    max-width: 650px;
    left: -80px;
    top: -106px;
}
